.vowel-action-controls {
  position: relative;

  &__stack {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__skeleton {
    position: absolute;
    inset: 0;
    border-radius: 12px;
    width: 100%;
    height: 260.88px; // Set to match the fixed height of 260.88px which vowel-action-controls sums to
  }

  &__playback-button {
    text-transform: none;
    align-self: flex-end; // align-self: flex-start;
    min-width: 120px;
  }

  &__playback-panel {
    padding: 16px;
    border-radius: 12px;
  }

  &__playback-title {
    margin-bottom: 24px;
  }

  &__playback-controls {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__playback-control {
    flex: 1 1 calc(50% - 12px); // Requires accounting for the 24px gap to avoid unintended wrapping
    width: auto !important; // critical
    min-width: 112px !important; // controls wrapping behaviour
  }
}