@use 'theme/layout-variables' as *;

$nav-bar-padding-sm: 8px;
$nav-bar-padding-lg: 12px;

#root {
  // min-height: 100vh;
  height: 100vh;

  display: flex;
  flex-direction: column;
}


.u-fixed {
  flex: 0 0 auto;
}

.u-fill {
  flex: 1 1 auto; // takes remaining space
  min-height: 0; // critical for nested scrolling
}

.app__main-wrapper {
  margin: auto;
  max-width: 1064px;
  width: 100%;

  padding: ($mobile-app-bar-height + $nav-bar-padding-sm) $nav-bar-padding-sm ($bottom-nav-height + $nav-bar-padding-sm);
}

@media (min-width: 601px) {
  .app__main-wrapper {
    padding: ($mobile-app-bar-height + $nav-bar-padding-lg) $nav-bar-padding-lg  ($bottom-nav-height + $nav-bar-padding-lg);
  }
}

@media (min-width: 901px) {
  .app__main-wrapper {
    padding: ($app-bar-height + $nav-bar-padding-lg) $nav-bar-padding-lg $nav-bar-padding-lg;
  }
}
