@use 'theme/layout-variables' as *;
@use './app/styles/foundations/breakpoints' as *;

$nav-bar-padding-sm: 8px;
$nav-bar-padding-lg: 12px;

#root {
  // min-height: 100vh;
  height: 100vh;

  /*display: flex;
  flex-direction: column;*/
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

h3 {
  font-weight: 600 !important;
}

.u-fixed {
  flex: 0 0 auto;
}

.u-fill {
  flex: 1 1 auto; // takes remaining space
  min-height: 0; // critical for nested scrolling
}

.u-no-select {
  // Prevent text selection (cross-browser)
  -webkit-touch-callout: none; // iOS Safari: disable callout menu
  -webkit-user-select: none;   // Safari/older Chrome
  -moz-user-select: none;      // Older Firefox
  -ms-user-select: none;       // IE/Edge (legacy)
  user-select: none;           // Modern browsers

  // Optional niceties for touch UIs
  // -webkit-tap-highlight-color: transparent;
}


.app__main-wrapper {
  margin: auto;
  max-width: 1064px;
  width: 100%;

  // todo: Note this does not currently work as intend, because it is derived from 1fr from #root
  // Force 100%, derived from #root -- which is in effect Viewport, plus 24px;
  // so that scroll bar is always visible to avoid CLS for different content height,
  // such as VowelDetailsCard
  height: calc(100% + 24px);

  // padding: ($mobile-app-bar-height + $nav-bar-padding-sm) $nav-bar-padding-sm ($bottom-nav-height + $nav-bar-padding-sm);
  padding: ($mobile-app-bar-height + $nav-bar-padding-sm) $nav-bar-padding-sm 0;

  @include media-down(desktop) {
    padding: ($mobile-app-bar-height + $nav-bar-padding-sm) $nav-bar-padding-sm ($bottom-nav-height + $nav-bar-padding-sm);
  }
}

@media (min-width: 601px) {
  .app__main-wrapper {
    // padding: ($mobile-app-bar-height + $nav-bar-padding-lg) $nav-bar-padding-lg  ($bottom-nav-height + $nav-bar-padding-lg);
  }
}

@include media-up(desktop) {
  .app__main-wrapper {
    padding: ($app-bar-height + $nav-bar-padding-lg) $nav-bar-padding-lg $nav-bar-padding-lg;
  }
}
